<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>version</key>
    <string>1.0.0</string>
    <key>warning</key>
    <string>请不要修改这个文件中的内容</string>
    <key>project</key>
    <dict>
      <key>projectId</key>
      <integer>106788</integer>
    </dict>
    <key>application</key>
    <dict>
      <key>appId</key>
      <integer>106144</integer>
      <key>packageId</key>
      <string>jk.studio.aphrodite</string>
    </dict>
    <key>services</key>
    <dict>
      <key>analytics</key>
      <dict>
        <key>appKey</key>
        <string>Iqcloud106144</string>
      </dict>
      <key>messaging</key>
      <dict>
        <key>appId</key>
        <string>2200321316</string>
        <key>appKey</key>
        <string>IU8G78E1MF6C</string>
      </dict>
      <key>crash</key>
      <dict>
        <key>appId</key>
        <string>b40dfe9e8a</string>
      </dict>
      <key>payment</key>
      <dict>
        <key>offerId</key>
        <string>TC106144</string>
      </dict>
      <key>storage</key>
      <dict>
        <key>bucket</key>
        <string>tac-aphrodite-st-1258281408</string>
        <key>region</key>
        <string>ap-beijing</string>
      </dict>
    </dict>
  </dict>
</plist>